@import "tailwindcss";
@font-face {
    font-family: droid;
    src: url("/font/Android.ttf");
}


body{
    background-color: #0e1622;

}

#my-person{
    color: white;
}

#container-mid{
    background-color: #f1f1f1;
}

#section-2{
    background-color: #0e1622;
}

#tecs{
    max-width: 250px;
    padding: 10px;
}

#tecdroid{
    font-family: droid;
}